-# メイン画面左側全体を指定
.side-bar
  -# 上：ユーザー名表示
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        = link_to new_group_path, class: "side-header__box__menu__new-group" do
          = icon('fa', 'edit')
        = link_to edit_user_path(current_user.id), class: "side-header__box__menu__edit-user" do
          = icon('fa', 'cog')
  -# 下：グループリスト表示
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group
          %p.group__group-name
            = group.name
          %p.group__message-notice
            = group.show_last_message 