-# メイン画面左側全体を指定
.side-bar
  -# 上：ユーザー名表示
  .side-bar__top
    .user-box
      .user-name
        = current_user.name
      .edit-setting-icons
        = link_to new_group_path, class: "edit-setting-icons__btn" do
          = icon('fa', 'edit')
        = link_to edit_user_path(current_user.id), class: "edit-setting-icons__btn" do
          = icon('fa', 'cog')
  -# 下：グループリスト表示
  .side-bar__group-lists
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "group-link" do
        .a_group-list
          .group-name
            = group.name
          .message-notice
            まだメッセージはありません 